.bg-cyan {
  color: #0099cc;
}
.full-body {
  background-image: url("../images/lgin-bg2.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}
.log-form {
  margin: auto;
  margin-top: 130px;
}
.reg-form {
  margin: auto;
  margin-top: 40px;
}

.navbar-nav > li > a:hover {
  background-color: #00838f;
}
